<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Main">
		<div class="module">
			<div class="module--header">
				<div class="module--header-title">Game Index</div>
			</div>

			<div class="module--main">
				<f:render section="Wizard" arguments="{_all}" />
				<f:render section="Listing" arguments="{_all}" />
			</div>
		</div>
	</f:section>

	<f:section name="Wizard">
		<div class="container">
			<f:form action="create" name="game" object="{game}" class="form--layout-0">

				<div class="form-item">
					<label class="form-label" for="game-wizard-title">Title</label>
					<f:form.textfield property="title" class="form-field" id="game-wizard-title" />
				</div>

				<div class="form-item">
					<label class="form-label" for="game-wizard-map">Map</label>
					<f:form.select property="map" class="form-field" id="game-wizard-map" options="{maps}" optionLabelField="title" prependOptionValue="0" prependOptionLabel="" />
				</div>

				<div class="form-action">
					<button class="button" type="submit">Create</button>
				</div>

			</f:form>
		</div>
	</f:section>

	<f:section name="Listing">
		<div class="container">
			<div class="container--header">
				<div class="container--header-title">Save Games</div>
			</div>

			<div class="container--main">
				<ul class="listing">
					<f:for each="{games}" as="game">
						<li class="listing--item">
							<f:link.action action="playground" arguments="{game: game}" class="listing--item-title">{game.title}</f:link.action>
						</li>
					</f:for>
				</ul>
			</div>
		</div>
	</f:section>
</html>