<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

	<f:section name="Main">
		<div class="module">
			<div class="row">
				<div class="col-sx-12 col-lg-6">
					<f:render section="Map" arguments="{_all}" />
				</div>

				<div class="col-sx-12 col-lg-6">
					<f:render section="Queue" arguments="{_all}" />
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="Map">
		<div class="container world-map">
			<div class="container--header">
				<div class="container--header-title">Regions</div>
			</div>

			<f:for each="{game.regions}" as="region">
				<div class="world-map--region">
					<div class="world-map--region-title">{region.origin.title}</div>
					<div class="world-map--region-coordinates">
						<f:for each="{region.coordinates}" as="coordinate">
							<div class="world-map--coordinate">
								<div class="row">
									<div class="col-sx-12 col-sm-3">
										{coordinate.origin.x} | {coordinate.origin.y}
									</div>
								</div>
							</div>
						</f:for>
					</div>
				</div>
			</f:for>
		</div>
	</f:section>

	<f:section name="Queue">
		<div class="container">
			<div class="container--header">
				<div class="container--header-title">Queue</div>
			</div>

			<div class="container--main">
				<div class="container">
					<f:form controller="Queue" action="wizard" class="form--layout-0">
						<div>
							<f:form.hidden name="game" value="{game}" />
						</div>

						<div class="form-item">
							<label class="form-label" for="queue-wizard-processor">Queue Processor</label>
							<f:form.select name="processor" class="form-field" id="queue-wizard-processor">
								<f:for each="{queueProcessors}" as="queueProcessor">
									<f:form.select.option value="{queueProcessor}">{queueProcessor}</f:form.select.option>
								</f:for>
							</f:form.select>
						</div>

						<div class="form-action">
							<button class="button" type="submit">Create</button>
						</div>
					</f:form>
				</div>

				<div class="container">
					<div>
						<f:link.action controller="Queue" action="process" arguments="{game: game}">Process</f:link.action>
					</div>

					<table class="table--layout-0">
						<thead>
							<tr>
								<th>Processor</th>
								<th>Expiry time</th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{queue}" as="item">
								<tr>
									<td>{item.processor}</td>
									<td>{item.expiryDate}</td>
								</tr>
							</f:for>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</f:section>
</html>