.world-map {
	.world-map--region {
		& {
			margin: rem(15px 0 0 0);
		}

		.world-map--region-title {
			font-weight: 700;
			border-bottom: 1px solid #ccc;
		}
	}

	.world-map--coordinate {
		& {
			padding: rem(3px 0);
		}

		& + .world-map--coordinate {
			border-top: 1px solid #ddd;
		}
	}
}