.listing {
	& {
		@extend %list-unstyled;
		margin: rem(15px 0 0 0);
	}

	.listing--item {
		& {
			margin: rem(15px 0 0 0);
		}

		& + .listing--item {
			border-top: 1px solid #ccc;
			padding: rem(15px 0 0 0);
		}
	}
}

.listing--item {
	.listing--item-title {
		display: block;
		font-weight: 700;
	}
}